body {
    font-family: 'Roboto', sans-serif;
}
.overlayDiv{
  top: 10vh;
  left: 10vw;
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: rgba(256,256,256, 0.8);
}
.headerContainer{
  width: 100vw;
  height: 10vh;
  position: absolute;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem ;
  align-items: center;
}
.headerContainer ul>li{
  padding-right: 1rem;
  cursor: pointer;
}
.headerContainer ul>li:hover{
  text-decoration-color: black ;
}
#css{
  pointer-events: none;
  position: absolute;
  top: 0;
  left:0;
}

.number .email {
  font-size:60px;
}

#contactUsButton{
  position: absolute;
  top:65%;
  left:49%;
}
#contactPopUp{
  display: flex;
  background-color: #1A2881;
  width: 100vw;
  position: absolute;
  bottom: -8%;
  color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left:1rem;
}
.sidebarIcon{
  width: 32px;
}
.sidebar{
  position: absolute;
  bottom: 5%;
  left: 1%;

}
.kmText{
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  color: black;
}
.sidebarText{
  color: black;
  font-size: 1.5rem;
  opacity: 0;
  transition: all .3s cubic-bezier(1, 0, 0, 1);
}
.sidebarIcon{
  margin-right: 1rem;
}
#emailIcon:hover > span {
  transform: translate(0,20%);
  opacity: 1;
}
#phoneIcon:hover > span {
  transform: translate(0,20%);
  opacity: 1;
}
#instagramIcon:hover > span {
  transform: translate(0,20%);
  opacity: 1;
}
#websitelIcon:hover > span {
  transform: translate(0,20%);
  opacity: 1;
}
#kmLogo{
  transform: rotate(90deg);
  margin-top:2rem;
}
#copyrightText{
  margin-left:1rem;
}
.white-button{
  background-color: transparent;
  border-color: black;
    color:black;
}

.white-button:hover{
  background-color:rgba(0, 0, 0, 0.45);
  border-color: black;
}
.overlayDiv {
    top: 10vh;
    left: 10vw;
    position: absolute;
    width: 80vw;
    height: 80vh;
    background-color: rgba(256,256,256, 0.8);
}

.headerContainer {
    width: 100vw;
    height: 10vh;
    position: absolute;

    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
    align-items: center;
}

.headerContainer ul > li {
    padding-right: 1rem;
    cursor: pointer;
}

.headerContainer ul > li:hover {
    text-decoration-color: black;
}

#css {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

.number .email {
    font-size: 60px;
}

#contactUsButton {
    position: absolute;
    top: 65%;
    left: 49%;
}

#contactPopUp {
    display: flex;
    background-color: #1A2881;
    width: 100vw;
    position: absolute;
    bottom: -8%;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

#demoButton {
    position: absolute;
    top: 65%;
    left: 49%;
}

#demoButtonClose {
    z-index: 11;
    position: absolute;
    right: 99px;
    top: 30px;
}

.css--iframe {
    position: absolute;
    z-index: 10;
    left: 75px;
    right: 0;
    margin: auto;
    bottom: 0;
    top: -49px;
    transform: scale(0.3);
}

.css--iframe-big {

    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    top: 0;
    transform: scale(1);
}
.active-nav {
    border-bottom: 3px solid black;
}
